# Suppress files related to R project
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store

*.ipynb_checkpoints

# Temporarily suppress folders related to heavy data storage
data_raw/*
data_formatted/*
data_clean/*
data_misc/*
models/old/*
output_model1/convergence/*
output_model2/convergence/*
output_model1/coda/*
output_model2/coda/*
output_model1/df/*
output_model2/df/*
plots/*
wc10/*
