.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store

# Suppress folders
data_raw/*
data_input/*
data_clean/*
*/coda/*
models/model1/geb/coda/*
*/convergence/*
models/model1/geb/convergence/*
plots/*
